html,
body {
    position: relative;
    height: 100%;
    font-size: 14px;
    max-width: 750px;
    margin: 0 auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #fff;
}

.container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.page1 {
    background: url(../images/bg.jpg);
    background-size: 100% 100%;
}

.company {
    background: url(../images/company.png);
    width: 3.11rem;
    height: .98rem;
    background-size: cover;
    margin: -1rem auto 0;

    opacity: 0;
}

.page2 {
    background: url(../images/bg2.jpg);
    background-size: 100% 100%;
}

.page4,
.page5 {
    background: url(../images/bg4.jpg);
    background-size: 100% 100%;
}

.page3 {
    background: url(../images/bg3.jpg);
    background-size: 100% 100%;
}

.in .a2 {
    opacity: 1;
    transition: all .8s;
    -webkit-transition: all .8s;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.in .a3 {
    opacity: 1;
    transition: all .8s;
    -webkit-transition: all .8s;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: .6s;
    -webkit-transition-delay: .6s;
}

.in .a4 {
    opacity: 1;
    transition: all .8s;
    -webkit-transition: all .8s;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 1.2s;
    -webkit-transition-delay: 1.2s;
}

.in .a5 {
    opacity: 1;
    transition: all .8s;
    -webkit-transition: all .8s;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 1.8s;
    -webkit-transition-delay: 1.8s;
}

.in .b1 {
    opacity: 1;
    transition: all .8s;
    -webkit-transition: all .8s;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 2.4s;
    -webkit-transition-delay: 2.4s;
}

.a2 {
    background: url(../images/a2.png);
    width: 3.39rem;
    height: 4.35rem;
    background-size: cover;
    margin-top: -.8rem;
    margin-bottom: .2rem;
    opacity: 0;
    transform: translateY(.6rem);
    -webkit-transform: translateY(.6rem);
}

.a3 {
    background: url(../images/a3.png);
    width: 3.39rem;
    height: 4.35rem;
    background-size: cover;
    margin-bottom: .2rem;
    opacity: 0;
    transform: translateY(.6rem);
    -webkit-transform: translateY(.6rem);
}

.a4 {
    background: url(../images/a4.png);
    width: 3.39rem;
    height: 4.35rem;
    background-size: cover;
    margin-top: -.8rem;
    margin-bottom: .2rem;
    opacity: 0;
    transform: translateY(.6rem);
    -webkit-transform: translateY(.6rem);
}

.a5 {
    background: url(../images/a5.png);
    width: 3.39rem;
    height: 4.35rem;
    background-size: cover;
    margin-bottom: .2rem;
    opacity: 0;
    transform: translateY(.6rem);
    -webkit-transform: translateY(.6rem);
}

.b1 {
    background: url(../images/b1.png);
    width: 3.98rem;
    height: 0.93rem;
    background-size: 100% 100%;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(.6rem);
    -webkit-transform: translateY(.6rem);
}

.b3 {
    background: url(../images/b3.png);
    width: 3.98rem;
    height: 0.93rem;
    background-size: 100% 100%;
    margin: 0 auto;
}

.t2 {
    background: url(../images/t2.png);
    background-size: cover;
    width: 1.92rem;
    height: 0.86rem;
    position: absolute;
    right: 0.9rem;
    top: .2rem;
}

.t4 {
    background: url(../images/t4.png);
    background-size: cover;
    width: 5.13rem;
    height: 0.72rem;
    margin: 0 auto .1rem;
}

.a7 {
    background: url(../images/a7.png?1);
    background-size: cover;
    width: 5.95rem;
    height: 2.04rem;
    margin: 0.2rem auto;
}

.t3 {
    background: url(../images/t3.png?1);
    background-size: cover;
    width: 5.13rem;
    height: 1.9rem;
    margin: 0 auto .1rem;
}

.t5 {
    background: url(../images/t5.png);
    background-size: cover;
    width: 2.67rem;
    height: .95rem;
    margin: 0 auto .1rem;
}

.inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 7.5rem;
}

.b2 {
    background: url(../images/b2.png);
    background-size: 100% 100%;
    width: 3.98rem;
    height: 0.93rem;
    margin: 0 auto 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.row {
    @include clearfix();
    width: 7.2rem;
    margin: 0 auto;
}

.text {
    font-size: 12px;
    text-align: left;
    width: 5.67rem;
    margin: 0 auto;
}

.name {
    .nameTitle {
        background: url(../images/name.png);
        width: 5.48rem;
        height: .73rem;
        background-size: cover;
        margin: .4rem auto 0;
        position: relative;
    }
    input {
        border: 1px solid #beb6ae;
        height: 0.79rem;
        background: #e2dad2;
        text-align: text;
        font-weight: bold;
        color: #000;
        font-size: 20px;
        margin: .38rem auto 0;
        width: 3.98rem;
    }
}

.b1,
.b2,
.b3 {
    animation: BtnVideo 1.3s infinite;
    -webkit-animation: BtnVideo 1.3s infinite;
}

@keyframes BtnVideo {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

@-webkit-keyframes BtnVideo {
    0% {
        -webkit-transform: scale(0.95);
    }
    50% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.95);
    }
}

.page4 .inner {
    opacity: 0;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.page1.in .fadeInUp {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp
}

.page2.in .fadeInUp {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp
}

.in .fadeInUp2 {
    animation-name: fadeInUp2;
    -webkit-animation-name: fadeInUp2;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 399;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: url(../images/loading.gif) no-repeat;
    background-size: 100% 100%;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none
    }
}

@keyframes fadeInUp2 {
    0% {
        opacity: 0;
        margin-top: 2rem;
    }

    to {
        opacity: 1;
        margin-top: 0rem;
    }
}

@-webkit-keyframes fadeInUp2 {
    0% {
        opacity: 0;
        margin-top: 1rem;
    }

    to {
        opacity: 1;
        margin-top: 0rem;
    }
}

.audioBox {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    z-index: 8;
    width: 0.6rem;
    height: 0.61rem;
    background: url(../images/mp32.png);
    background-size: cover;
}

.scrollR {
    background: url(../images/mp3.png);
    background-size: cover;
}


.sub {
    font-size: 12px;
    text-align: center;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    margin: .1rem auto .1rem;
}


.logo {
    background: url(../images/logo.png);
    width: 6.57rem;
    height: 6.71rem;
    background-size: cover;
    z-index: 2;
    margin: -2rem auto 0;
    opacity: 0;
}

.time {
    background: url(../images/time.png);
    width: 3.79rem;
    height: 2.20rem;
    background-size: cover;
    margin: .5rem auto 0;
    z-index: 20;
    position: relative;
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
    opacity: 0;
}

.t1 {
    background: url(../images/t1.png);
    width: 5.91rem;
    height: 2.96rem;
    background-size: cover;
    margin: 0 auto;
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    opacity: 0;
}

.arrow {
    position: absolute;
    left: 50%;
    background: url(../images/arrow.png);
    width: .47rem;
    height: .63rem;
    background-size: cover;
    margin-left: -.23rem;
    bottom: 1%;
    -webkit-animation: arrow 2s infinite 1.5s;
}

.arrow2 {
    position: absolute;
    left: 50%;
    background: url(../images/arrow2.png);
    width: .47rem;
    height: .63rem;
    background-size: cover;
    margin-left: -.23rem;
    bottom: 1%;
    -webkit-animation: arrow 2s infinite 1.5s;
}

.huoxing-canvas {
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.circle {
    background: url(../images/a1.png);
    width: 5.76rem;
    height: 5.41rem;
    background-size: cover;
    margin: 0.24rem auto .24rem;
    opacity: 0;
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}

.dialog,.dialogError {
    background: url(../images/dialog.jpg);
    width: 6.5rem;
    height: 4.07rem;
    background-size: cover;
    position: fixed;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1000;
    display: none;
    color: #000;
    font-size: 20px;
    text-align: center;
    h3 {
        margin-top: 1rem;
    }
}

.prompt {
    display: none;
}

.din~.maskbg {
    visibility: visible;
}

.maskbg {
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.77);
    visibility: hidden;
}

.close {
    width: 0.42rem;
    height: 0.42rem;
    background: url(../images/close.png);
    background-size: cover;
    position: absolute;
    right: 0.18rem;
    top: 0.18rem;
}

.b4,.b5 {
    width: 3.98rem;
    height: 0.93rem;
    background: url(../images/b4.png);
    background-size: cover;
    margin: .4rem auto 0;
}

.dialog.din,.dialogError.din {
    display: block;
}

.mask {
    display: none;
}

@media screen and (orientation:landscape) {
    .mask {
        width: 100%;
        height: 100%;
        background: rgba(18, 18, 18, 0.7);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}



.radio:after {
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    background-color: #b1b1b1;
    top: 50%;
    left: 50%;
    -webkit-transition: all .1s;
    transition: all .1s;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    content: '';
}

.radio {
    width: 100%;
    height: 100%;
    border: 1px solid #ababab;
    border-radius: 50%;
    display: block;
    position: relative;
    background-color: #ececec;
}

.input:checked+.radio {
    border-color: #deaf5e;
}

.icon {
    display: block;
    position: absolute;
    top: .15rem;
    left: 0px;
    vertical-align: baseline;
    width: .36rem;
    height: .36rem;
}

.icon .input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}

.input:checked+.radio:after {
    background-color: #deaf5e;
}

.label {
    color: #000;
    vertical-align: text-top;
}

.widget {
    margin: 0 auto 0.05rem;
    width: 6rem;
    font-size: 12px;
    @include clearfix();
    line-height: 0.5rem;
    label {
        position: relative;
        float: right;
        padding-left: 0.52rem;
        width: 3.9rem;
        text-align: left;
        line-height: 0.5rem;
    }
}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(-0.20rem)
    }
    50% {
        opacity: 1;
        transform: translateY(-0.10rem)
    }
    70% {
        opacity: 1;
        transform: translateY(-0.10rem)
    }
    100% {
        opacity: 0;
        transform: translateY(0.10rem)
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-0.20rem)
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(-0.10rem)
    }
    70% {
        opacity: 1;
        -webkit-transform: translateY(-0.10rem)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(0.10rem)
    }
}

.su {
    background: url(../images/su.png);
    width: .38rem;
    height: .42rem;
    position: absolute;
    left: -.46rem;
    top: .04rem;
    background-size: cover;
}

.hu {
    background: url(../images/hu.png);
    width: .38rem;
    height: .42rem;
    position: absolute;
    left: -.46rem;
    top: .04rem;
    background-size: cover;
}

.info {
    color: #000;
    float: left;
    width: 1.9rem;
    line-height: 0.5rem;
    font-weight: bold;
    text-align: left;
    position: relative;
}

input[type=checkbox]:checked~.icon {
    background-color: #deaf5e!important;
    border-color: #deaf5e;
}

input[type=checkbox]:checked~.icon:before {
    content: "";
    display: block;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    position: absolute;
    top: -1px;
    left: 4px;
    left: 5px\9;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

input[type=checkbox] {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
}

.mui-checkbox .icon {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #aaa;
    background-color: hsla(0, 0%, 100%, .65);
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

*,
 :after,
 :before {
    box-sizing: border-box;
}
.map {
    
    width: 3.8rem;
    height: .21rem;
    margin-top: .05rem;
    float: right;
}
.w1 {
    background:url(../images/w1.png) no-repeat top left;
    background-size: contain;
}
.w2 {
    background:url(../images/w2.png) no-repeat top left;
    background-size: contain;
}
.w3 {
    background:url(../images/w3.png) no-repeat top left;
    background-size: contain;
}
.w4 {
    background:url(../images/w4.png) no-repeat top left;
    background-size: contain;
}
.w5 {
    background:url(../images/w5.png) no-repeat top left;
    background-size: contain;
}
.w6 {
    background:url(../images/w6.png) no-repeat top left;
    background-size: contain;
}
.w7 {
    background:url(../images/w7.png) no-repeat top left;
    background-size: contain;
}
.w8 {
    background:url(../images/w8.png) no-repeat top left;
    background-size: contain;
}
.subcheck {
    float: right;
    .subitem {
        float: left;
        padding-left: 0.24rem;
            width: 1.8rem;
            .label {
                transform: scale(.8);
                -webkit-transform: scale(.8);
                    display: block;
            }
    }
    .icon {
        top:.05rem;
    }
}