@mixin singleline-ellipsis($substract:0){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100% - $substract;
    display:block;
}

%singleline-ellipsis {
    @include singleline-ellipsis;
}